<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://speechtext20241209143424.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3fc10a91-40d0-4e42-9b35-e14c9a1071a3/resourcegroups/AzureOpenAI/providers/Microsoft.Web/sites/SpeechText20241209143424</ResourceId>
    <UserName>$SpeechText20241209143424</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://speechtext20241209143424.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>